# Analiza danych w języku Python - ćwiczenia laboratoryjne 2022/2023

Ten notatnik zalicza się do grupy zestawów zadań, na podstawie których odbywa się zaliczenie ćwiczeń i podlega zwrotowi do oceny w ustalonym na zajęciach terminie.

Uwagi i wytyczne ogólne dotyczące uzupełniania i oceny notatnika:
- Podczas wykonywania zadań należy korzystać wyłącznie z pakietów zaimportowanych na początku notatnika oraz z pakietów wchodzących w skład standardowej biblioteki Pythona, które można zaimportować samodzielnie we wskazanej komórce notatnika.
- Swoje rozwiązania należy wprowadzać wyłącznie w miejce następujących fragmentów kodu:<br/> `# YOUR CODE HERE`<br/> `raise NotImplementedError()`<br/> 
a odpowiedzi tekstowe w komórkach oznaczonych hasłem:<br/> 
`YOUR ANSWER HERE`<br/> 
Nie należy w żaden sposób modyfikować pozostałych fragmentów kodu oraz innych elementów notatnika, w szczególności dodawać lub usuwać komórek oraz zmieniać nazwy pliku.
- Jeżeli zestaw zadań wymaga skorzystania z fragmentów kodu opracowanego w ramach wcześniejszych zestawów zadań należy je umieścić we wskazanej komórce notatnika.
- Otrzymywane wyniki i odpowiedzi mają być rezultatem wykonania napisanego kodu, odpowiedzi uzupełniane manualnie nie podlegają ocenie.
- Zadanie należy wykonać w taki sposób, aby podczas wykonywania kodu nie zostały wyświetlone żadne ostrzeżenia.
- Zawarte w notatniku automatyczne testy mają charakter poglądowy. Dotyczą one wybranych aspektów zadań i mają za zadanie wyłapać podstawowe błędy. Przejście wszystkich testów nie oznacza, że zadanie jest wykonane w całości poprawnie i zostanie ocenione na maksymalną liczbę punktów.
- Zadania, które powodują wyświetlenie komunikatu o błędzie przerywającym wykonywanie kodu nie podlegają ocenie.

Uwagi i wytyczne ogólne dotyczące wizualizacji wyników:
- Wszystkie wykresy powinny być wykonane w jednolitym, przejrzystym i czytelnym stylu, posiadać odpowiednio dobrane proporcje i zakresy wartości osi.
- Wykresy oraz ich osie powinny mieć nadane tytuły. Jeżeli w obrębie figury znajduje się więcej niż jeden wykres to figura również powinna mieć nadany tytuł. 
- Figury powinny mieć ustawione białe tło, tak, aby niezależnie od ustawień notatnika wszystkie elementy wykresów były dobrze widoczne (domyślnie tło jest przeźroczyste co może powodować problemy w notatnikach z ustawionym ciemnym tłem).
- Rozmiar poziomy figur nie powinien przekraczać 20 cali.

Przed odesłaniem zestawu zadań do oceny proszę uzupełnić komórkę z danymi autorów rozwiązania (`NAME` - nazwa zespołu, `COLLABORATORS` - imiona, nazwiska i numery indeksów członków zespołu) oraz upewnić się, że notatnik działa zgodnie z oczekiwaniami. W tym celu należy skorzystać z opcji **Restart Kernel and Run All Cells...** dostępnej na górnej belce notatnika pod symbolem $\blacktriangleright\blacktriangleright$.

---

## Zestaw zadań 2: Elementy statystyki opisowej 2 (Notatnik 3/4)

In [2]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import dataframe_image as dfi

In [3]:
# Miejsce do importu pakietów wchodzących w skład standardowej biblioteki Pythona oraz ustawienie opcji wykorzystywanych pakietów
from collections import OrderedDict, defaultdict

### Wczytanie danych
Wczytaj dane z przygotowanego wcześniej pliku recession_data_1.csv do tablicy `recession_data_1` w taki sposób, aby kolumna Country Code stanowiła indeks tablicy oraz dane z pliku recession_table_1.pkl do tablicy `recession_table_1`.

Wyświetl przygotowane tablice.

In [4]:
# recession_data_1
# YOUR CODE HERE
recession_data_1 = pd.read_csv("recession_data_1.csv")
display(recession_data_1)

,Country Code,Country Name,Region Name,Income Group,2006,2007,2008,2009,2010,2011
0,AFG,Afghanistan,Asia,Low,5.357403,13.826320,3.924984,21.390528,14.362441,0.426355
1,ALB,Albania,Europe,Lower middle,5.902659,5.983260,7.500041,3.354289,3.706938,2.545406
2,DZA,Algeria,Africa,Upper middle,1.700000,3.400000,2.400000,1.600000,3.600000,2.900000
3,ASM,American Samoa,Oceania,Upper middle,-4.098361,1.851852,-2.657343,-4.166667,0.299850,0.000000
4,AND,Andorra,Europe,High,4.808689,1.553188,-5.559186,-5.302847,-1.974958,-0.008070
...,...,...,...,...,...,...,...,...,...,...
193,VIR,Virgin Islands (U.S.),Americas,High,3.504993,4.010594,1.218625,-6.594789,0.596383,-8.204246
194,PSE,West Bank and Gaza,Asia,Lower middle,-0.996556,3.788282,7.429182,8.593491,5.777362,9.600808
195,YEM,"Yemen, Rep.",Asia,Low,3.170409,3.338428,3.647569,3.866230,7.702307,-12.714897
196,ZMB,Zambia,Africa,Low,7.903694,8.352436,7.773896,9.220348,10.298223,5.564602
197,ZWE,Zimbabwe,Africa,Low,-3.461495,-3.653327,-17.668946,12.019560,21.452061,14.620207

In [5]:
# recession_table_1
# YOUR CODE HERE

# Oświadczamy, że nie zwróciliśmy należytej uwagi na zajęciach oraz niezauważliśmy dołączego pliku
# recession_table_1.pkl, dlatego sami go stworzyliśmy w oparciu o tabelę recession_table_1
# i na tym oparliśmy nasze dalsze działania.

recession_table_1 = pd.read_pickle("recession_table_1.pkl")
display(recession_table_1)

,"(-20, -15]","(-15, -10]","(-10, -5]","(-5, 0]","(0, 5]","(5, 10]","(10, 15]","(15, 20]","(20, 25]","(25, 30]","(30, 35]"
Year,,,,,,,,,,,
2006,0.000000,0.000000,0.005051,0.075758,0.358586,0.469697,0.070707,0.005051,0.000000,0.010101,0.005051
2007,0.000000,0.000000,0.010101,0.030303,0.393939,0.454545,0.085859,0.020202,0.005051,0.000000,0.000000
2008,0.005051,0.005051,0.025253,0.131313,0.454545,0.323232,0.045455,0.010101,0.000000,0.000000,0.000000
2009,0.010101,0.045455,0.131313,0.297980,0.343434,0.136364,0.030303,0.000000,0.005051,0.000000,0.000000
2010,0.000000,0.000000,0.025253,0.085859,0.449495,0.363636,0.060606,0.005051,0.005051,0.005051,0.000000
2011,0.000000,0.010101,0.030303,0.085859,0.484848,0.343434,0.035354,0.005051,0.005051,0.000000,0.000000

### Zadanie 4: Obliczanie wartości wybranych opisowych charakterystyk rozkładu w oparciu o szereg szczegółowy [5 pkt]

Korzystając z danych zawartych w tablicy `recession_data_1` oraz funkcji pakietu pandas oblicz dla każdego roku następujące opisowe charakterystyki rozkładu:
- wartość średnia (ang. mean),
- odchylenie standardowe (ang. standart deviation),
- wartość minimalna (ang. minimum),
- kwartyle (ang. quartiles),
- wartość maksymalna (ang. maximum),
- eksces/kurtoza (ang. excess kurtosis),
- skośność (ang. skew).

Zestaw wyniki w tablicy `descriptive_parameters_1`.

Indeks:
 - zawiera następujące nazwy wierszy: mean, std, min, Q1, Q2, Q3, max, kurt, skew.
 
Kolumny:
 - lata (osobna kolumna dla każdego roku opatrzona nagłówkiem 2006, 2007 itd. sformatowanym jako str)

In [11]:
# YOUR CODE HERE
years = ["2006","2007","2008","2009","2010","2011"]
descriptive_parameters_1 = recession_data_1.describe().loc[["mean","std","min","25%","50%","75%","max"]]
descriptive_parameters_1 = pd.concat([descriptive_parameters_1,recession_data_1[years].kurt().to_frame().T])
descriptive_parameters_1 = pd.concat([descriptive_parameters_1,recession_data_1[years].skew().to_frame().T])

descriptive_parameters_1.index = ["mean","std","min","Q1","Q2","Q3","max", "kurt", "skew"]
dfStyled = descriptive_parameters_1.style.format(precision=2)
dfi.export(dfStyled, "descriptive_parameters_1.png", fontsize=12)
display(descriptive_parameters_1)

[0404/175411.112044:WARNING:bluez_dbus_manager.cc(247)] Floss manager not present, cannot set Floss enable/disable.
[0404/175411.153484:WARNING:sandbox_linux.cc(393)] InitializeSandbox() called with multiple threads in process gpu-process.
31942 bytes written to file /tmp/tmpqi90lz0q/temp.png

           2006       2007       2008       2009       2010       2011
mean   5.678241   5.676541   3.658874  -0.099351   4.285734   3.812680
std    4.659570   4.128360   4.494198   5.812413   4.503445   4.354840
min   -6.871463  -6.684028 -17.668946 -17.573222  -8.924176 -12.714897
Q1     3.455779   3.204031   1.004863  -3.739051   1.719445   1.636183
Q2     5.404226   5.622465   3.807492   0.129142   4.132582   3.821286
Q3     7.560790   7.700604   6.240954   3.499009   6.705470   6.316869
max   34.500000  25.000000  17.799109  21.390528  25.122760  21.616529
kurt  10.163041   2.877701   3.166838   0.931665   3.435235   3.107475
skew   1.870104   0.723625  -0.597186  -0.150527   0.649393  -0.107946

In [7]:
### Komórka testowa
# Testy wybranych wartości z tablicy
assert np.isclose(descriptive_parameters_1.loc["mean", "2006"], 5.678241)
assert np.isclose(descriptive_parameters_1.loc["std", "2007"], 4.128360)
assert np.isclose(descriptive_parameters_1.loc["min", "2008"], -17.668946)
assert np.isclose(descriptive_parameters_1.loc["Q1", "2009"], -3.739051)
assert np.isclose(descriptive_parameters_1.loc["Q2", "2010"], 4.132582)
assert np.isclose(descriptive_parameters_1.loc["Q3", "2011"], 6.316869)
assert np.isclose(descriptive_parameters_1.loc["max", "2006"], 34.5)
assert np.isclose(descriptive_parameters_1.loc["kurt", "2007"], 2.877701)
assert np.isclose(descriptive_parameters_1.loc["skew", "2008"], -0.597186)

### Zadanie 5: Praca z szeregami rozdzielczymi (25 pkt)
Na potrzeby realizacji tego zadania załóżmy, że nie były dostępne dane szczegółowe, a jedynie tablica szeregu rozdzielczego przedziałowego. Ma to istotny wpływ na proces dokonywania obliczeń i wizualizacji wyników. Wykonaj poniższe zadanie bazując wyłącznie na danych z tablicy `recession_table_1`.

Uwaga! Zadanie nie zawiera pełnej analizy danych, i ma wyłącznie charakter demonstracji pokazującej jak można prowadzić analizę, gdy nie są dostępne dane szczegółowe.

#### a) Obliczanie wartości wybranych opisowych charakterystyk rozkładu

Korzystając z danych zawartych w tablicy `recession_table_1` oblicz dla każdego roku następujące opisowe charakterystyki rozkładu:
- wartość średnia (ang. mean),
- odchylenie standardowe (ang. standart deviation),
- kwartyle (ang. quartiles),
- moda (ang. mode).

Zestaw wyniki w tablicy `descriptive_parameters_2`.

Indeks:
 - zawiera następujące nazwy wierszy: mean, std, Q1, Q2, Q3, mode.
 
Kolumny:
 - lata (osobna kolumna dla każdego roku opatrzona nagłówkiem 2006, 2007 itd. sformatowanym jako str)
 
Uwaga! W celu otrzymania maksymalnej liczby punktów otrzymane wyniki powinny być w całości wynikiem pracy napisanego kodu, bez manualnego określania, w którym przedziale znajdują się określone statystyki itp.

In [8]:
# YOUR CODE HERE

# Oświadczamy, że nie zwróciliśmy należytej uwagi na zajęciach oraz niezauważliśmy dołączego pliku
# recession_table_1.pkl, dlatego sami go stworzyliśmy w oparciu o tabelę recession_table_1
# i na tym oparliśmy nasze dalsze działania.

# mean
mean = 0
for column in recession_table_1.columns:
    try:
        mean += column.mid*recession_table_1[column]
    except:
        mean = column.mid*recession_table_1[column]                           
# std
std = 0
for column in recession_table_1.columns:
    try:
        std += (column.mid-mean)**2*recession_table_1[column]
    except:
        std = (column.mid-mean)**2*recession_table_1[column]
std = np.sqrt(std)       

# Q1, Q2, Q3
Q1 = np.zeros(len(recession_table_1))
Q2 = np.zeros(len(recession_table_1))
Q3 = np.zeros(len(recession_table_1))
for index, row in recession_table_1.iterrows():
    selector = recession_table_1.index == index
    for i in range(1,len(recession_table_1.columns)+1):
        if np.sum(row[:i]) < 0.25:
            Q1 = [ Q1[j]+1 if selector[j] == True else Q1[j] for j in range(len(selector)) ]
        if np.sum(row[:i]) < 0.5:
            Q2 = [ Q2[j]+1 if selector[j] == True else Q2[j] for j in range(len(selector)) ]
        if np.sum(row[:i]) < 0.75:
            Q3 = [ Q3[j]+1 if selector[j] == True else Q3[j] for j in range(len(selector)) ]
            
Qq1 = []        
for index, row in recession_table_1.reset_index(drop=True).iterrows():
    l = recession_table_1.columns[int(Q1[index])].left
    hI = recession_table_1.columns[int(Q1[index])].length
    n = int(Q1[index])
    row = row.reset_index(drop=True)
    omega = row[n]
    suma = np.sum(row[:n])
    Qq1.append(l+0.25/omega*hI-suma/omega*hI)
    
Qq2 = []    
for index, row in recession_table_1.reset_index(drop=True).iterrows():
    l = recession_table_1.columns[int(Q2[index])].left
    hI = recession_table_1.columns[int(Q2[index])].length
    n = int(Q2[index])
    row = row.reset_index(drop=True)
    omega = row[n]
    suma = np.sum(row[:n])
    Qq2.append(l+0.5/omega*hI-suma/omega*hI)
    
Qq3 = []
for index, row in recession_table_1.reset_index(drop=True).iterrows():
    l = recession_table_1.columns[int(Q3[index])].left
    hI = recession_table_1.columns[int(Q3[index])].length
    n = int(Q3[index])
    row = row.reset_index(drop=True)
    omega = row[n]
    suma = np.sum(row[:n])
    Qq3.append(l+0.75/omega*hI-suma/omega*hI)
    
Qq1 = pd.DataFrame(Qq1).T
Qq2 = pd.DataFrame(Qq2).T
Qq3 = pd.DataFrame(Qq3).T

# mode
mode = []
for nRow in recession_table_1.index:
    n = np.argmax(recession_table_1.loc[nRow])
    xD = recession_table_1.columns[n].left
    hD = recession_table_1.columns[n].length
    row = recession_table_1.loc[nRow].reset_index(drop=True)
    omega1 = row[n]
    omega2 = row[n-1]
    omega3 = row[n+1]
    mode.append(xD + (omega1-omega2)/((omega1-omega2)+(omega1-omega3))*hD)
mode = pd.DataFrame(mode).T

descriptive_parameters_2 = mean.to_frame().T
descriptive_parameters_2 = pd.concat([descriptive_parameters_2,std.to_frame().T])

Qq1.columns = descriptive_parameters_2.columns
Qq2.columns = descriptive_parameters_2.columns
Qq3.columns = descriptive_parameters_2.columns
descriptive_parameters_2 = pd.concat([descriptive_parameters_2,Qq1,Qq2,Qq3])


mode.columns = descriptive_parameters_2.columns
descriptive_parameters_2 = pd.concat([descriptive_parameters_2,mode])

descriptive_parameters_2.index = ["mean", "std", "Q1", "Q2", "Q3", "mode"]
descriptive_parameters_2.columns.name=""
descriptive_parameters_2.columns = descriptive_parameters_2.columns.astype(str)

display(descriptive_parameters_2)

          2006      2007      2008      2009      2010      2011
mean  5.606061  5.782828  3.636364 -0.101010  4.545455  3.863636
std   4.853809  4.184001  4.751033  6.045066  4.685347  4.568125
Q1    2.359155  2.660256  0.916667 -3.940678  1.544944  1.276042
Q2    5.645161  5.722222  3.666667  0.220588  4.325843  3.854167
Q3    8.306452  8.472222  6.992188  3.860294  7.604167  7.022059
mode  6.089109  5.705882  3.555556  0.900000  4.044944  3.691589

In [9]:
### Komórka testowa
# Testy wybranych wartości z tablicy
assert np.isclose(descriptive_parameters_2.loc["mean", "2006"], 5.606061)
assert np.isclose(descriptive_parameters_2.loc["std", "2007"], 4.184001)
assert np.isclose(descriptive_parameters_2.loc["Q1", "2008"], 0.916667)
assert np.isclose(descriptive_parameters_2.loc["Q2", "2009"], 0.220588)
assert np.isclose(descriptive_parameters_2.loc["Q3", "2010"], 7.604167)
assert np.isclose(descriptive_parameters_2.loc["mode", "2011"], 3.691589)

#### b) Wizualizacja
Zwizualizuj dane z tablic `recession_table_1` oraz `descriptive_parameters_2` za pomocą:
 - histogramu zliczeń (lewa oś wykresu) z nałożonym na niego łamaną częstości skumulowanej (prawa oś wykresu) wykonanych dla jednego, wybranego przez siebie roku,
 - diagramów częstości wyliczonych dla poszczególnych lat i skonstruowanych w obarciu o całość danych,
 - wykresów pudełkowych wyliczonych dla poszczególnych lat i skonstruowanych w obarciu o całość danych.
 
Zestaw wykresy na pojedynczej figurze (siatka wykresów 2x2, przy czym wykres pudełkowy zajmuje oba pola w dolnym wierszu figury). Przygotuj figurę zgodnie z wytycznymi z nagłówka notatnika. Postaraj się, w miarę istniejących możliwości, aby formatowanie wykresów było jak najbardziej zbliżone do formatowania wykresów przygotowanych w poprzednim notatniku, dodatkowo:

dla histogramu i łamanej częstości skumulowanej:
- ustaw różne od domyślnych i od siebie nawzajem kolory wykresu słupkowego oraz łamanej częstości,
- ustaw kolory lewej i prawej osi oraz ich opisów identyczne z kolorem elementu wykresu, którego dotyczą,
- jako etykiety danych na osi x ustaw przedziały danych z tablicy `recession_table_1`,

dla diagramów częstości:
- ustaw kolory identyczne z tymi przypisanymi poszczególnym latom w zadaniu 3a,
- dodaj do wykresu legendę zawierającą nazwę wizualizowanego parametru oraz kolory przypisane poszczególnym latom w taki sposób, aby nie zasłaniała/zasłaniały znajdujących się na wykresach danych,
- jako etykiety danych na osi x ustaw przedziały danych z tablicy `recession_table_1`,

dla wykresu pudełkowego:
- ustaw kolor linii pudełka identyczny z kolorem ich wypełnienia w zadaniu 3b,
- ustaw kolor linii wąsów identyczny z ich kolorem w zadaniu 3b.

Wykresy pudełkowe powinny zawierać oznaczenia wartości średniej oraz mediany.

In [1]:
# YOUR CODE HERE

# Oświadczamy, że nie zwróciliśmy należytej uwagi na zajęciach oraz niezauważliśmy dołączego pliku
# recession_table_1.pkl, dlatego sami go stworzyliśmy w oparciu o tabelę recession_table_1
# i na tym oparliśmy nasze dalsze działania.

## Get frequency Data Frame
epsylon = 1e-9

# 300 - Liczba państw na świecie ze sporym nakładem
for x in range(1,300):
    controller = 0
    number = x
    for j in range(len(recession_table_1.columns)):
        for i in range(len(recession_table_1.index)):
            value = recession_table_1.iloc[i,j] * x
            if abs(value - np.round(value,0)) > epsylon:
                controller = 1
                break
        if controller == 1:
            break
    if controller == 0:
        break
        
recession_row = recession_table_1.iloc[0,:] * number
x = np.arange(len(recession_row))
w = 1
y = []
for i in range(len(recession_table_1.iloc[0,:])):
    y.append(np.sum(recession_table_1.iloc[0,:i]))

fig, ax = plt.subplots(2,2,figsize=(16,16), facecolor="white")

ax[0,0].set_facecolor("white")
ax[0,0].bar(x, height = recession_row.to_numpy(), width=w, color="green")
ax[0,0].set_xticks([i for i in range(len(x))], recession_table_1.columns, rotation = 45)
ax[0,0].set_xlabel("Wartość wskaźnika GPD growth (annual %)")
ax[0,0].set_ylabel("Liczba państw z daną wartość wskaźnika")
ax[0,0].set_title("Histogram zliczeń dla 2006 roku")
ax[0,0].yaxis.label.set_color('green')
ax[0,0].tick_params(axis='y', colors='green')
ax[0,0] = ax[0,0].twinx()
ax[0,0].yaxis.label.set_color('red')
ax[0,0].tick_params(axis='y', colors='red')
ax[0,0].spines['right'].set_color('red')
ax[0,0].spines['left'].set_color('green')
ax[0,0].set_ylabel("Częstość skumulowana wskaźnika")
ax[0,0].plot(x,y, c="red")
ax[0,0].set_ylim([0,1])

colors = ["slategray", "magenta", "darkgoldenrod", "crimson", "royalblue", "darkgreen"]

for i in range(len(recession_table_1)):
    ax[0,1].plot(x,recession_table_1.iloc[i,:], c=colors[i], label=recession_table_1.index[i])
ax[0,1].set_facecolor("white")
ax[0,1].set_xticks([i for i in range(len(x))], recession_table_1.columns, rotation = 45)
ax[0,1].set_xlabel("Wartość wskaźnika GPD growth (annual %)")
ax[0,1].set_ylabel("Częstość wskaźnika")
ax[0,1].set_title("Diagram częstości")
ax[0,1].set_ylim([0,1])
ax[0,1].grid(True)
ax[0,1].legend(title="Year")

temporalStats = descriptive_parameters_2.drop(["std","mode"])
temporalStats.index = ["mean","q1","med","q3"]

stats = temporalStats.to_dict(orient="dict")
for index, row in recession_table_1.iterrows():
    
    stats[str(index)]["whislo"] = recession_table_1.columns[0].left
    for i in range(len(recession_table_1.columns)):
        if row[i] != 0:
            break
        stats[str(index)]["whislo"] = recession_table_1.columns[i].right
    
    stats[str(index)]["whishi"] = recession_table_1.columns[-1].right
    for i in range(len(recession_table_1.columns)):
        if row[-i-1] != 0:
            break
        stats[str(indeX)]["whishi"] = recession_table_1.columns[-i-1].left

dicts = []
for elem in temporalStats.columns:
    dicts.append(stats[elem])
    dicts[-1]["label"] = elem
    dicts[-1]["whislo"] = max(dicts[-1]["whislo"],dicts[-1]["q1"] - 1.5*(dicts[-1]["q3"]-dicts[-1]["q1"]))
    dicts[-1]["whishi"] = min(dicts[-1]["whishi"],dicts[-1]["q3"] + 1.5*(dicts[-1]["q3"]-dicts[-1]["q1"]))

gs = ax[1, 0].get_gridspec()
ax[1,0].remove()
ax[1,1].remove()
ax[1,0] = fig.add_subplot(gs[1, 0:])

boxprops = dict(color='yellow', linewidth=3)
medianprops = dict(color='yellow', linewidth=3)

ax[1,0].set_facecolor("white")
ax[1,0].axhline(y=0, color="red")
ax[1,0].grid(True)
ax[1,0].bxp(dicts, showfliers=False, showmeans=True, boxprops = boxprops, medianprops = medianprops,
            meanprops={"marker":"o","markerfacecolor":"white", "markeredgecolor":"black","markersize":"10"})
ax[1,0].set_ylabel("Wartość wskaźnika GPD growth (annual %)")
ax[1,0].set_xlabel("Rok")
ax[1,0].set_title("Wykresy pudełkowe dla wskaźnika GPD growth (annual %) państw w różnych latach")
ax[1,0].set_ylim([-25,40])

fig.suptitle("Analiza wskaźnika GPD growth (annual %) w czasach kryzysu z 2008r.")

NameError: name 'recession_table_1' is not defined