# Analiza danych w języku Python - ćwiczenia laboratoryjne 2022/2023

Ten notatnik zalicza się do grupy zestawów zadań, na podstawie których odbywa się zaliczenie ćwiczeń i podlega zwrotowi do oceny w ustalonym na zajęciach terminie.

Uwagi i wytyczne ogólne dotyczące uzupełniania i oceny notatnika:
- Podczas wykonywania zadań należy korzystać wyłącznie z pakietów zaimportowanych na początku notatnika oraz z pakietów wchodzących w skład standardowej biblioteki Pythona, które można zaimportować samodzielnie we wskazanej komórce notatnika.
- Swoje rozwiązania należy wprowadzać wyłącznie w miejce następujących fragmentów kodu:<br/> `# YOUR CODE HERE`<br/> `raise NotImplementedError()`<br/> 
a odpowiedzi tekstowe w komórkach oznaczonych hasłem:<br/> 
`YOUR ANSWER HERE`<br/> 
Nie należy w żaden sposób modyfikować pozostałych fragmentów kodu oraz innych elementów notatnika, w szczególności dodawać lub usuwać komórek oraz zmieniać nazwy pliku.
- Jeżeli zestaw zadań wymaga skorzystania z fragmentów kodu opracowanego w ramach wcześniejszych zestawów zadań należy je umieścić we wskazanej komórce notatnika.
- Otrzymywane wyniki i odpowiedzi mają być rezultatem wykonania napisanego kodu, odpowiedzi uzupełniane manualnie nie podlegają ocenie.
- Zadanie należy wykonać w taki sposób, aby podczas wykonywania kodu nie zostały wyświetlone żadne ostrzeżenia.
- Zawarte w notatniku automatyczne testy mają charakter poglądowy. Dotyczą one wybranych aspektów zadań i mają za zadanie wyłapać podstawowe błędy. Przejście wszystkich testów nie oznacza, że zadanie jest wykonane w całości poprawnie i zostanie ocenione na maksymalną liczbę punktów.
- Zadania, które powodują wyświetlenie komunikatu o błędzie przerywającym wykonywanie kodu nie podlegają ocenie.

Uwagi i wytyczne ogólne dotyczące wizualizacji wyników:
- Wszystkie wykresy powinny być wykonane w jednolitym, przejrzystym i czytelnym stylu, posiadać odpowiednio dobrane proporcje i zakresy wartości osi.
- Wykresy oraz ich osie powinny mieć nadane tytuły. Jeżeli w obrębie figury znajduje się więcej niż jeden wykres to figura również powinna mieć nadany tytuł. 
- Figury powinny mieć ustawione białe tło, tak, aby niezależnie od ustawień notatnika wszystkie elementy wykresów były dobrze widoczne (domyślnie tło jest przeźroczyste co może powodować problemy w notatnikach z ustawionym ciemnym tłem).
- Rozmiar poziomy figur nie powinien przekraczać 20 cali.

Przed odesłaniem zestawu zadań do oceny proszę uzupełnić komórkę z danymi autorów rozwiązania (`NAME` - nazwa zespołu, `COLLABORATORS` - imiona, nazwiska i numery indeksów członków zespołu) oraz upewnić się, że notatnik działa zgodnie z oczekiwaniami. W tym celu należy skorzystać z opcji **Restart Kernel and Run All Cells...** dostępnej na górnej belce notatnika pod symbolem $\blacktriangleright\blacktriangleright$.

In [1]:
NAME = ""
COLLABORATORS = "Adam Lewiński 407657 Małgorzata Serwańska 405044"

---

## Zestaw zadań 3: Elementy statystyki opisowej 3 (Notatnik 1/4)

In [2]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import dataframe_image as dfi

In [3]:
import datetime

### Zadanie 1: Przygotowanie danych [10 pkt]

Pliki bike_traffic_raw_data.csv, 2022_01.txt, 2022_02.txt ...  2022_12.txt zawierają dane pobrane ze stron:</br>
https://data.seattle.gov/Transportation/Fremont-Bridge-Bicycle-Counter/65db-xm6k,</br>
https://forecast.weather.gov/product.php?site=SEW&product=CF6&issuedby=SEW.

#### a) Natężenie ruchu rowerowego 

Plik raw_bike_traffic_data.csv zawiera dane na temat ruchu rowerowego na moście Fremont Bridge w Seattle.

Zaimportuj zawarte w pliku dane do notatnika i utwórz na ich podstawie tablicę `bike_traffic_data` wykonaną według następujących wytycznych:

- Tablica powinna zawierać wyłącznie następujące elementy:</br>
    > Indeks: Date</br>
    > PeriodIndex zawierający okresy czasu, w których dokonywane były zliczenia rowerzystów.
    
    > Kolumny: Total, East, West</br>
    > Kolumny zawierają liczbę rowerzystów przejeżdżających przez most w poszczególnych godzinach w sumie oraz z podziałem na zachodnią i wschodnią stronę mostu.
- Pozostaw w tablicy wyłącznie wiersze dotyczące 2022 roku.

Zapisz tablicę do pliku bike_traffic_data.pkl.

Wyświetl przygotowaną tablicę w taki sposób aby widoczne było po 12 pierwszych i ostatnich wierszy, a zawarte w tablicy wartości wyświetlały się bez miejsc po przecinku.

In [4]:
# YOUR CODE HERE
dane = pd.read_csv("raw_bike_traffic_data.csv")
dane.Date = pd.to_datetime(dane.Date, format="%m/%d/%Y %I:%M:%S %p")
index = pd.PeriodIndex(dane.Date)
dane.index = index
dane.drop("Date", axis=1, inplace=True)
dane.columns = ["Total","East","West"]
dane = dane[(dane.index >= "2022-01-01") & (dane.index < "2023-01-01")]
dane.to_pickle("bike_traffic_data.pkl")
dane = pd.read_pickle("bike_traffic_data.pkl")

bike_traffic_data = dane

display(pd.concat([dane.head(12), dane.tail(12)]).style.format(precision=0))

In [5]:
### Komórka testowa
# Test 1 Kształt tablicy
assert bike_traffic_data.shape == (8760, 3)
# Test 2 Kolumny
assert len(set(list(bike_traffic_data.columns)) & set(['Total', 'East', 'West'])) == 3
# Test 3 Indeks
assert (bike_traffic_data.index.name == 'Date') == True
assert isinstance(bike_traffic_data.index, pd.PeriodIndex)
assert bike_traffic_data.index.values.min() == pd.Period('2022-01-01 00:00', 'H')
assert bike_traffic_data.index.values.max() == pd.Period('2022-12-31 23:00', 'H')
# Test 4 Zawartość kolumn
assert np.all(np.isclose(bike_traffic_data[['Total', 'East', 'West']].min().values, np.array([0, 0, 0]))) == True
assert np.all(np.isclose(bike_traffic_data[['Total', 'East', 'West']].max().values, np.array([717, 464, 635]))) == True

#### b) Pogoda

Pliki 2022_01.txt, 2022_02.txt ...  2022_12.txt zawierają miesięczne raporty pogodowe (F6 Preliminary Local Climate Data Report) ze stacji NWS Seattle/Tacoma, WA.
Wyjaśnienie wykorzystanych w raportach symboli i skrótów można znaleźć pod następującym linkiem: https://www.weather.gov/grr/climateF6explain.

Zaimportuj zawarte w plikach dane do notatnika i utwórz na ich podstawie tablicę `weather_data` wykonaną według następujących wytycznych:

- Tablica powinna zawierać wyłącznie następujące elementy:</br>
    > Indeks: Date</br>
    > PeriodIndex zawierający okresy czasu, których dotyczą dane z raportów pogodowych.</br>
    
    > Kolumny: W podanej niżej kolejności</br>
    > Temperature: Min, Avg, Max</br>
    > Precipitation: Total</br>
    > Snow: Fall, Depth</br>
    > Wind:  Avg speed, Max speed</br>
    > Sky: Cloud cover</br>
    > (Nazwa 1 poziomu: podległe jej nazwy 2 poziomu)
- Zamień oznaczenia opadów śladowych na wartość 0.
- Przelicz występujące w tablicy wartości do *C (temperatura), mm (opady), m/s (wiatr) i ułamków (zachmurzenie).

Zapisz tablicę do pliku weather_data.pkl.

Wyświetl przygotowaną tablicę w taki sposób aby widoczne było po 10 pierwszych i ostatnich wierszy, a zawarte w tablicy liczby wyświetlały się z dokładnością 2 miejsc po przecinku.

In [6]:
# YOUR CODE HERE
#kolumny
# 3, 4, 2, 7, 8 , 9, 10, 11, 15
tuples = [("Temperature", "Min"), ("Temperature","Avg"), ("Temperature", "Max"), ("Precipitation","Total"), ("Snow","Fall"),
           ("Snow","Depth"), ("Wind","Avg speed"), ("Wind", "Max speed"), ("Sky", "Cloud cover")]
columns = pd.MultiIndex.from_tuples(tuples)

weather_data = pd.DataFrame()
for i in range(1,13):
    if i < 10:
        path = f"0{i}"
    else:
        path = str(i)
    dane = pd.read_table("raw_weather_data/2022_" + path + ".txt", skiprows=18, header=None, sep="\s+")
    number = 0
    for index, row in dane.iterrows():
        try:
            int(row[0])
        except:
            number = index
            break
    dane = dane.iloc[:number,:]
    weather_data = pd.concat([weather_data, dane])
b = datetime.datetime(year=2022, month=1, day = 1)
index = [b+datetime.timedelta(days=i) for i in range(365)]
index = pd.PeriodIndex(index, freq="d")
index.name = "Date"
weather_data.index = index
weather_data = weather_data.iloc[:,[2,3,1,7,8,9,10,11,15]]
weather_data.columns = columns

# Ten nan potem wywala dalsze obliczenia ...
weather_data.replace('M', np.nan, inplace=True)

#Korekta po zadaniu 3
#weather_data[("Snow","Depth")] = weather_data[("Snow","Depth")].fillna(0)

#Po zadaniu 4 okazuje się, że jednak ta korekta nie jest dobra.

weather_data.replace("T", 0, inplace=True)
weather_data = weather_data.astype(np.float64)
weather_data.iloc[:,:3] = weather_data.iloc[:,:3].apply(lambda x: (x-32)*5/9)
weather_data.iloc[:,3:6] = weather_data.iloc[:,3:7].apply(lambda x: (x*25.4))
weather_data.iloc[:,-3:-1] = weather_data.iloc[:,-3:-1].apply(lambda x: x*1609.34/3600)
weather_data.iloc[:,-1] = weather_data.iloc[:,-1].apply(lambda x: x/10)

weather_data.to_pickle("weather_data.pkl")
dane = pd.read_pickle("weather_data.pkl")
weather_data = dane
display(pd.concat([dane.head(10), dane.tail(10)]).style.format(precision=2))

In [7]:
### Komórka testowa
# Test 1 Kształt tablicy
assert weather_data.shape == (365, 9)
# Test 2 Kolumny
assert len(set(list(weather_data.columns)) & set([('Temperature', 'Min'), ('Temperature', 'Avg'), ('Temperature', 'Max'), ('Precipitation', 'Total'),
            ('Snow', 'Fall'), ('Snow', 'Depth'), ('Wind', 'Avg speed'), ('Wind', 'Max speed'), ('Sky', 'Cloud cover')])) == 9
# Test 3 Indeks
assert (weather_data.index.name == 'Date') == True
assert isinstance(weather_data.index, pd.PeriodIndex) == True
assert weather_data.index.values.min() == pd.Period('2022-01-01', 'D')
assert weather_data.index.values.max() == pd.Period('2022-12-31', 'D')
# Test 4 Zawartość kolumn
assert np.all(np.isclose(weather_data.min().values, np.array([-7.77777778, -5.55555556, -3.33333333, 0., 0., 0., 0.89407778, 3.12927222, 0.]))) == True
assert np.all(np.isclose(weather_data.max().values, np.array([20., 26.66666667, 35., 75.438, 66.04, 76.2, 8.31492333, 16.54043889, 1.]))) == True